//GLOBAL

//Colors
$gold: "#AA9853";
$navy: "#242759";
$black: "#0F1236"; //headings
$dark-grey: "#393D40"; //body text
$grey: "#ABAFB2";
$light-grey: "#E5E5E5"; //dividers

//Fonts
@font-face {
  font-family: Aris;
  src: url(/assets/fonts/aristotelica.text-trial-light.ttf);
}

@font-face {
  font-family: Aris Bold;
  src: url(/assets/fonts/aristotelica.text-trial-demibold.ttf);
}

$body-font: Aris, sans-serif;
$heading-font: Aris Bold, sans-serif;

//Spacing
$base-spacing: 12px; //minimum margin and padding
$border-radius: 4px;
$border-radius25: 25px;

//Mixins

body {
  font-family: $body-font;
  color: $dark-grey;
}

.post {
  height: 350px;
  width: 80vw;
  border: lightgrey 1px solid;
  border-radius: 5px;
  margin: auto;
  //add drop shadow
}

.post__imgbox {
  width: 100%;
  height: 50%;
  background-color: black;
  background-image: url("https://lh3.googleusercontent.com/proxy/8lYknpTG5jk6CQPg0w2CA8_o8L_dWZTkb6DHJEWOIKSGu98O2SDAxwOCv_WB_Ua1hcrMG1gUOzr7IVnUwd4D3sKczX9a8X-kVSsOW24Hq87emXKH1Q_MK0KwLUoV");
  background-position: 100% 50%;
  background-size: cover;
  border: 0px;
  border-radius: 5px 5px 0 0;
}

.post__textbox {
  padding: 15px;
  padding-top: 5px;
}

.post__textbox__area {
  color: dimgray;
  margin-top: 0;
}

nav {
  span {
    font-size: 30px;
  }
}

.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #aa9853;
  overflow-x: hidden;
  padding-top: 50px;
  transition: 0.5s;

  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: seashell;
    display: block;
    transition: 0.3s;
  }
}

.nav .nav__closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .nav {
    padding-top: 15px;
  }
  .nav a {
    font-size: 18px;
  }
}
