body {
  font-family: Quicksand, sans-serif;
  font-weight: 400;
  color: #393d40;
  margin: 0;
  box-sizing: border-box; }

.post {
  height: 200px;
  width: 85vw;
  border-radius: 5px;
  margin: auto; }

.post.hidden {
  display: none; }

header {
  margin: 12px auto;
  max-width: 1000px; }

header .logo {
  margin: 0 24px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start; }

header .logo img {
  width: 40px; }

header .logo h1 {
  font-size: 18px; }

header .logo h1 em {
  color: #aa9853;
  font-weight: 300;
  font-style: normal; }

.wrapper {
  margin: 0 auto;
  max-width: 1000px; }

.wrapper .posts__list {
  margin: 0 24px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 24px; }

.post {
  height: 200px;
  width: 100%;
  border-radius: 5px;
  margin: auto; }

.post__imgbox {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 31.77%, rgba(8, 8, 9, 0.5) 78.12%), url("https://images-cdn.boligportal.dk/prod/public/05b525e6-4f5d-4307-be8f-45bd52d69fdc/w1024.jpg");
  background-position: 100% 50%;
  background-size: Cover;
  border-radius: 4px; }

.post__textbox {
  padding: 10px; }

.post__textbox__price {
  background-color: #aa9853;
  display: inline-block;
  color: white;
  padding: 4px 6px;
  font-size: 14px;
  border-radius: 4px;
  font-weight: 600; }

.post__textbox__street {
  color: white;
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 110px;
  font-weight: 600; }

.post__textbox__city {
  color: white;
  font-size: 14px;
  display: inline-block;
  margin-top: 5px; }

.post__textbox__size {
  color: white;
  font-size: 14px;
  display: inline-block;
  margin-top: 5px;
  margin-left: 10px; }

.post__textbox img {
  margin-bottom: -3px; }

#search div:first-of-type {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 1rem 0; }

#search div:first-of-type #search__input {
  border: none;
  border-bottom: 1px solid black; }

#search div:first-of-type #search__input::before {
  width: 100px;
  display: block;
  height: 100px;
  color: red;
  content: "sexy"; }

nav {
  display: flex;
  height: 60px;
  flex-direction: row;
  width: 100vw;
  position: fixed;
  bottom: 0px;
  border-top: lightgrey thin solid;
  background-color: white;
  color: #abafb2; }

nav .fa-active {
  color: #0f1236; }

nav a {
  color: #abafb2; }

nav div {
  flex: 1;
  text-align: center;
  width: 33%;
  align-content: center;
  padding-top: 18px;
  font-size: 20px; }

@media screen and (max-height: 450px) {
  .nav {
    padding-top: 15px; }
  .nav a {
    font-size: 18px; } }
