//GLOBAL

//Colors
$gold: #aa9853;
$navy: #242759;
$black: #0f1236; //headings
$dark-grey: #393d40; //body text
$grey: #abafb2;
$light-grey: #e5e5e5; //dividers

//Fonts
@mixin body-font {
  font-family: Quicksand, sans-serif;
  font-weight: 400;
}
@mixin heading-font {
  font-family: Quicksand, sans-serif;
  font-weight: 600;
}
//Spacing
$base-spacing: 12px; //minimum margin and padding
$border-radius: 4px;
$border-radius25: 25px;

//Mixins

body {
  @include body-font;
  color: $dark-grey;
  margin: 0;
  box-sizing: border-box;
}

.post {
  height: 200px;
  width: 85vw;
  border-radius: 5px;
  margin: auto;
  //shadow

  &.hidden {
    display: none;
  }
}

header {
  margin: $base-spacing auto;
  max-width: 1000px;

  .offline__heading {
    display: block;
    background-color: orangered;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }

  .logo {
    margin: 0 $base-spacing * 2;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    img {
      width: 40px;
    }
    h1 {
      font-size: $base-spacing * 1.5;
      em {
        color: $gold;
        font-weight: 300;
        font-style: normal;
      }
    }
  }
}
.wrapper {
  margin: 0 auto;
  max-width: 1000px;
}

.posts__list,
.offline__houses {
  margin: 0 $base-spacing * 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: $base-spacing * 2.5;
  grid-row-gap: $base-spacing * 2;
}

.post {
  height: 200px;
  width: 100%;
  border-radius: 5px;
  margin: auto;

  &__imgbox {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 31.77%,
        rgba(8, 8, 9, 0.5) 78.12%
      ),
      url("https://images-cdn.boligportal.dk/prod/public/05b525e6-4f5d-4307-be8f-45bd52d69fdc/w1024.jpg");
    background-position: 100% 50%;
    background-size: Cover;
    border-radius: 4px;
  }
  &__textbox {
    padding: 10px;
    &__price {
      background-color: $gold;
      display: inline-block;
      color: white;
      padding: 4px 6px;
      font-size: 14px;
      border-radius: 4px;
      font-weight: 600;
    }

    &__street {
      color: white;
      font-size: 18px;
      margin-bottom: 0px;
      margin-top: 110px;
      font-weight: 600;
    }
    &__city {
      color: white;
      font-size: 14px;
      display: inline-block;
      margin-top: 5px;
    }
    &__size {
      color: white;
      font-size: 14px;
      display: inline-block;
      margin-top: 5px;
      margin-left: 10px;
    }
    img {
      margin-bottom: -3px;
    }
  }
}

#search {
  div:first-of-type {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 24px;
    i {
      font-size: 16px;
      color: $black;
    }
    #search__input {
      border: none;
      border-bottom: 1px solid $black;
      min-width: 285px;
      font-size: 12px;
      font-family: quicksand;
      padding: 6px 0;
      color: $black;
    }
  }
  #search__query {
    margin: 24px;
  }
}

nav {
  display: flex;
  height: 60px;
  flex-direction: row;
  width: 100vw;
  position: fixed;
  bottom: 0px;
  border-top: lightgrey thin solid;
  background-color: white;
  color: $grey;
  .fa-active {
    color: $black;
  }
  a {
    color: $grey;
  }

  div {
    flex: 1;
    text-align: center;
    width: 33%;
    align-content: center;
    padding-top: 18px;
    font-size: 20px;
  }
}

.pagepusher {
  height: 90px;
}

@media screen and (max-height: 450px) {
  .nav {
    padding-top: 15px;
  }
  .nav a {
    font-size: 18px;
  }
}
