$primary-color: "#222";

body {
  font-family: "Quicksand", sans-serif;
  color: $primary-color;

  a {
    color: $primary-color;
  }
}

.post {
  height: 350px;
  width: 80vw;
  border:lightgrey 1px solid;
  border-radius: 5px;
  margin: auto;
  //shadow
}

.post__imgbox {
  width: 100%;
  height: 50%;
  background-color: black;
  background-image: url("https://lh3.googleusercontent.com/proxy/8lYknpTG5jk6CQPg0w2CA8_o8L_dWZTkb6DHJEWOIKSGu98O2SDAxwOCv_WB_Ua1hcrMG1gUOzr7IVnUwd4D3sKczX9a8X-kVSsOW24Hq87emXKH1Q_MK0KwLUoV");
  background-position: 100% 50%;
  background-size: cover;
  border:0px;
  border-radius-: 5px 5px 0 0;
}

.post__textbox {
padding: 15px;
padding-top: 5px;
}

.post__textbox__area {
  color: dimgray;
  margin-top:0;
}